body{
    background-color: #14bdac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    color: red;
}

#paper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    margin-left: 5%;
}

#first-line{
    display: flex;
    flex-direction: row;
}

#second-line{
    display: flex;
    flex-direction: row;
}

#three-line{
    display: flex;
    flex-direction: row;
}

.square1, .square2, .square3{
    border-right: 8px solid #0da192;
    border-bottom: 8px solid #0da192;
    height: 200px;
    width: 200px;
    font-size: 70px;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
}

.square3{
    border-right: none;
}

#three-line .square1{
    border-right: 8px solid #0da192;
    border-bottom: none;
}

#three-line .square2{
    border-bottom: none;
}

#three-line .square3{
    border-bottom: none;
}

#avancerDuJeu{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    font-family: "Roboto Light", sans-serif;
    border: 8px solid #0da192;
    width: 700px;
    padding: 10px;
}

@media screen and (max-width: 700px){
    h1{
        font-size: 35px;
    }

    #paper{
        width: 500px;
    }

    .square1 .square2 .square3{
        width: 150px;
        height: 150px;
    }

    #avancerDuJeu{
        width: 500px;
    }
}

@media screen and (max-width: 400px){
    #paper{
        width: 325px;
    }

    .square1 .square2 .square3{
        width: 100px;
        height: 100px;
    }

    #avancerDuJeu{
        width: 300px;
        font-size: 20px;
    }
}

@media screen and (max-width: 350px){
    h1{
        font-size: 25px;
    }

    .square1 .square2 .square3{
        width: 75px;
        height: 75px;
    }

    #paper{
        width: 280px;
        margin-left: 20%;
    }

    #avancerDuJeu{
        width: 280px;
        font-size: 20px;
    }
}